openssl_aws_pass
openssl_sec1_pass
ansible_pass

*.swp
*.retry
*.log

.vagrant/machines

.aws/credentials/deploy.sh
.aws/init/ubuntu16.04/production_node.sh
.aws/ec2/mongodb/run_ubuntu16.04.sh

roles/users/files/10001_kf/authorized_keys
roles/users/files/9500_an/authorized_keys
roles/users/files/9501_de/authorized_keys
roles/users/files/9502_hi/authorized_keys
roles/users/templates/sudoers.j2
roles/users/templates/sudoers.group.j2
