{{ ansible.headers.bash }}
server {
    listen       *:80 default_server;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }

    error_page  404              /40x.html;
    location = /404.html {
        internal;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        internal;
    }
}
